body {
  background-image: repeating-radial-gradient(
      circle at center center,
      transparent 0px,
      transparent 11px,
      rgba(255, 255, 255, 0.04) 11px,
      rgba(255, 255, 255, 0.04) 19px,
      transparent 19px,
      transparent 29px,
      rgba(255, 255, 255, 0.04) 29px,
      rgba(255, 255, 255, 0.04) 33px
    ),
    repeating-radial-gradient(
      circle at center center,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 5px,
      rgb(0, 0, 0) 5px,
      rgb(0, 0, 0) 17px,
      rgb(0, 0, 0) 17px,
      rgb(0, 0, 0) 30px,
      rgb(0, 0, 0) 30px,
      rgb(0, 0, 0) 43px,
      rgb(0, 0, 0) 43px,
      rgb(0, 0, 0) 45px,
      rgb(0, 0, 0) 45px,
      rgb(0, 0, 0) 47px
    );
  background-size: 53px 53px;
  color: white;
}
.container1 {
  margin-left: 30%;
}

#title {
  text-align: center;
  font-size: 40px;
}
#description {
  text-align: center;
  font-size: 32px;
}
.head1 {
  font-size: 40px;
  text-align: center;
}
#first-name {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}

#last-name {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}
#address {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}
#address1 {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}
#pincode {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}
#state {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}
#country {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}

.gender {
  font-size: 25px;
}
.foodchoice {
  font-size: 25px;
}
button {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  font-size: 30px !important;
  margin-top: 20px;
  /* background-color:pink; */
  margin-left: 170px;
  color: #ff6600;
}

.main {
  font-size: 30px;
  text-align: left;
  font-weight: 600;
}
.main1 {
  font-size: 30px;
  font-weight: 600;
}
.table {
  width: 100vw;
}
.table,
th,
td {
  text-align: center;
  font-size: 25px;
  border: 2px solid whitesmoke;
  border-collapse: collapse;
  height: 50px;
  border-color: #ccffcc;
}
